

<div class="row mt-3">
    <div class="col-5">
        <div class="form-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Author" [formControl]="searchControl">
          </div>
    </div>
    <div class="col-1">
      <button class="btn btn-dark" (click)="onSearch()">Search</button>
    </div>
    <div class="col">
        <button class="btn btn-dark float-end" (click)="onDoneClicked()">Done</button>

    </div>
</div>

<div class="row mt-3">
    <div class="col-6">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let art of artworks">
                <td>{{art.title}}</td>
                <td>{{art.author}}</td>
                <td><button class="btn btn-dark float-end" (click)="addArtwork(art._id)">Add</button></td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let art of exibitionArtworks">
                <td>{{art.title}}</td>
                <td>{{art.author}}</td>
                <td><button class="btn btn-dark float-end" (click)="removeArtwork(art._id)">Remove</button></td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

